@import "node_modules/@angular/material/theming";

$padding-0: 0px;
$padding-1: 5px;
$padding-2: 10px;
$padding-3: 15px;

$margin-0: 0px;
$margin-1: 5px;
$margin-2: 10px;
$margin-3: 15px;
$margin-4: 20px;