<ng-container *ngIf="viewModel">
    <mat-card class="mb-2 pb-0" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field fxFlex>
            <input matInput placeholder="Search..."
                [(ngModel)]="viewModel.predicate.searchText"
                (keydown.enter)="searchChanged()"
                name="searchText">
        </mat-form-field>
        <button mat-icon-button
                routerLink="create">
            <mat-icon>add_task</mat-icon>
        </button>
    </mat-card>
    <router-outlet></router-outlet>
    <mat-grid-list class="mb-2" cols="4" rowHeight="125px">
        <mat-grid-tile *ngFor="let task of viewModel.page.tasks">            
            <mat-card fxFlexFill
                [routerLink]="['detail', task.id]">
                <mat-card-content>
                    {{task.name}}
                    {{task.reminderDate | date}}
                    {{task.userName}}
                    <p *ngIf="task.notes">
                        {{task.notes}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-mini-fab
                            color="warn"
                            (click)="deleteTaskClicked(task.id, $event)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
                </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    <mat-card class="p-0">
        <mat-paginator 
            [length]="viewModel.page.total"
            [pageIndex]="viewModel.predicate.pageNumber"
            [pageSize]="viewModel.predicate.pageSize"
            [pageSizeOptions]="[1, 5, 10, 25, 100]"
            (page)="pageChanged($event)">
        </mat-paginator>
    </mat-card>
</ng-container>