<ng-container *ngIf="viewModel">
    <mat-card class="mb-2 pb-0" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field fxFlex>
            <input matInput placeholder="Search..."
                [(ngModel)]="viewModel.predicate.searchText"
                (keydown.enter)="searchChanged()"
                name="searchText">
            <button *ngIf="viewModel.predicate.searchText" 
                    matSuffix mat-icon-button 
                    (click)="viewModel.predicate.searchText='';searchChanged()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field fxFlex>
            <mat-select placeholder="Choose a status"
                        [(ngModel)]="viewModel.predicate.completed"
                        (selectionChange)="searchChanged()">
                <mat-option>Any</mat-option>
                <mat-option [value]="false">Uncompleted</mat-option>
                <mat-option [value]="true">Completed</mat-option>
            </mat-select>
        </mat-form-field>
        <button *ngIf="!isXsDisplay" mat-icon-button
                routerLink="create">
            <mat-icon>add</mat-icon>
        </button>
        <button class="mb-2" *ngIf="isXsDisplay"
                mat-raised-button 
                routerLink="create">
            Add Task
        </button>
    </mat-card>
    <router-outlet></router-outlet>
    <mat-card *ngIf="viewModel.page.tasks.length == 0">
        No results found
    </mat-card>
    <div class="mb-2"
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayout.xs="column">            
        <mat-card
            fxLayout="column"
            fxFlex="25%"
            fxFlex.sm="50%"
            *ngFor="let task of viewModel.page.tasks">
            <mat-card-subtitle>
                {{task.userName}}
                <span fxFlex></span>
                {{task.reminderDate | date}}
            </mat-card-subtitle>
            <mat-card-content fxFlex>
                <strong>{{task.name}}</strong>
                <p *ngIf="task.notes">
                    {{task.notes}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <span fxFlex></span>
                <p fxFlexAlign="center" *ngIf="task.completed">
                    <strong>TASK COMPLETED</strong>
                </p>
                <button *ngIf="!task.completed"
                        mat-icon-button
                        [routerLink]="['detail', task.id]">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="!task.completed"
                        mat-icon-button
                        (click)="deleteTaskClicked(task.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <mat-card class="p-0">
        <mat-paginator 
            [length]="viewModel.page.total"
            [pageIndex]="viewModel.predicate.pageNumber"
            [pageSize]="viewModel.predicate.pageSize"
            [pageSizeOptions]="[1, 5, 10, 25, 100]"
            (page)="pageChanged($event)">
        </mat-paginator>
    </mat-card>
</ng-container>