<mat-toolbar >
	<button mat-icon-button>
		<mat-icon>menu</mat-icon>
	</button>
	<span>Task Reminder</span>
</mat-toolbar>
<mat-sidenav-container>
	<mat-sidenav mode="side" opened>
		<mat-nav-list>
			<mat-list-item routerLink="tasks"
				routerLinkActive="active">
				<mat-icon matListIcon>apps</mat-icon>
				<h2 matLine>
					Tasks
				</h2>
			</mat-list-item>
			<mat-list-item routerLink="users" 
				routerLinkActive="active">
				<mat-icon matListIcon>groups</mat-icon>
				<h2 matLine>
					Users
				</h2>
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content >
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
