<ng-container *ngIf="viewModel">
    <mat-card class="mb-2 pb-0" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field fxFlex>
            <input matInput placeholder="Enter a search term"
                [(ngModel)]="viewModel.predicate.searchText"
                (keydown.enter)="searchChanged()"
                name="searchText">
        </mat-form-field>
        <mat-form-field fxFlex>
            <mat-select placeholder="Choose a status"
                        [(ngModel)]="viewModel.predicate.active"
                        (selectionChange)="searchChanged()">
                <mat-option>Any</mat-option>
                <mat-option value="true">Active</mat-option>
                <mat-option value="false">Inactive</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-icon-button 
                (click)="createUserClicked()">
            <mat-icon>person_add</mat-icon>
        </button>
    </mat-card>
    <mat-card class="mb-2 p-0">    
        <mat-table mat-table [dataSource]="viewModel.page.users" fxFlexFill>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.email}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="active">
                <mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
                <mat-cell *matCellDef="let user">{{(user.active ? "Yes" : "No")}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let user"></mat-cell>
            </ng-container>  
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" 
                        (click)="detailUserClicked(row.id)"></mat-row>
        </mat-table>
    </mat-card>
    <mat-card class="p-0">
        <mat-paginator 
            [length]="viewModel.page.total"
            [pageIndex]="viewModel.predicate.pageNumber"
            [pageSize]="viewModel.predicate.pageSize"
            [pageSizeOptions]="[1, 5, 10, 25, 100]"
            (page)="pageChanged($event)">
        </mat-paginator>
    </mat-card>
</ng-container>