<h2 mat-dialog-title>
    Create User
</h2>
<div>
    <form #formUser="ngForm" 
          fxLayout="column"
          fxLayoutGap="10px">
        <mat-form-field fxFlex>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter your name..." #name="ngModel"
                [(ngModel)]="viewModel.detail.name"
                name="name"
                required maxlength="50">
            <mat-error *ngIf="name?.errors?.required">Required</mat-error>
            <mat-error *ngIf="name?.errors?.maxlength">Max lenght 50</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email..." #email="ngModel"
                [(ngModel)]="viewModel.detail.email"
                name="email"
                required email maxlength="255" [userEmailAvailable]="null">
            <mat-error *ngIf="email?.errors?.required">Required</mat-error>
            <mat-error *ngIf="email?.errors?.email">Invalid email</mat-error>
            <mat-error *ngIf="email?.errors?.maxlength">Max lenght 50</mat-error>
            <mat-error *ngIf="email?.errors?.userEmailAvailable">Email already used</mat-error>
        </mat-form-field>
        <mat-slide-toggle fxFlex
            [(ngModel)]="viewModel.detail.active" 
            name="acive">Active</mat-slide-toggle>
    </form>
</div>
<div mat-dialog-actions>
    <span fxFlex></span>
    <button mat-button
        (click)="cancelClicked()">Cancel</button>
    <button mat-raised-button
        color="primary"
        [disabled]="formUser.invalid"
        (click)="createUserClicked()">Create</button>
</div>
